{% extends 'base.html' %}
{% load static %}
{% block customcss %}
<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
{% endblock %}
{% block content %}
<form method="POST">{% csrf_token %}
        <div class="login-box">
                <h1>Login</h1>
                <div class="textbox">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <input type="text" required placeholder="Email" name="email">
                </div>
                <div class="textbox">
                        <i class="fa fa-lock" aria-hidden="true"></i>
                       <input type="password" required placeholder="Password" name="password">
                </div>
                <input class="btn" type="submit" value="Login"><input class="btn" type="reset" value="Reset">
        </div><br>
        <a href="/userdetails/register/">New Citizen!</a>
        <a href="/userdetails/water_dep/">New Water department!</a>
        <a href="/userdetails/electric_dept/">New Electric department!</a>
        <a href="/userdetails/road_dept/">New Road department!</a>
        <a href="/userdetails/passwordreset/">Forgot password?</a>

</form>
{% if invalid %}
{% if user %}
        <h4 style="color:red"> Password Incorrect!</h4>
{% else %}
        <h4 style="color:red"> User does Not Exist!</h4>
        <h4 style="color:red">With {{email}}</h4>
{% endif %}
{% endif %}
{% endblock %}