{% extends 'base.html' %}
{% load static %}
{% block customcss %}
<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
{% endblock %}
{% block content %}
<form method="POST">{% csrf_token %}
    <div class="login-box">
        <h1>Reset Password</h1>
        <div class="textbox">
            <i class="fa fa-user" aria-hidden="true"></i>
            <input name="email" type="email" placeholder="Email" />
        </div>
        <div class="textbox">
            <i class="fa fa-lock" aria-hidden="true"></i>
            <input name="newpassword" type="password"  placeholder="New Password"/>
        </div>
        <input class="btn" type="submit" value="Update" /><input class="btn" type="reset" value="Reset" />
    </div>
</form>
{% if exists %}
<h3 style="color:red"> No user Found with email :<b> {{email}}</b> </h3>
{% endif %}

{% endblock %}