{% extends 'base.html' %}

{% block content %}
<form method="POST">{% csrf_token %}
    <table>
        <tr>
            <th><label><b>Email:</b></label></th>
            <td><input name="email" type="email" /><br></td>
        </tr>
        <tr>
            <th><label><b>New<br>Password:</b></label></th>
            <td><input name="newpassword" type="text" /></td>
        </tr>
    </table>
    <input type="submit" value="update" />
</form>
{% if exists %}
<h3 style="color:red"> No user Found with email :<b> {{email}}</b> </h3>
{% endif %}

{% endblock %}