{% extends 'base.html' %}
{% load static %}
{% block customcss %}
<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
{% endblock %}
{% block content %}
<form method="POST">{% csrf_token %}
    <div class="login-box">
        <h1>Register</h1>
        <div class="textbox">
            <input type="text" name="fname" value="" placeholder="First Name">
        </div>
        <div class="textbox">
            <input type="text" name="lname" value="" placeholder="Last Name">
        </div>
        <div class="textbox">
            <input type="email" name="email" placeholder="Email" value="">
        </div>
        <div class="textbox">
            <input type="password" id="pass" name="password" value="" placeholder="Password">
        </div>
        <div class="textbox">
            <input type="password" id="cpass" name="cpassword" value="" placeholder="Confirm">
        </div>
        <div class="textbox">
            <input type="number" id="" name="contact" pattern="[789][0-9]{9}" placeholder="Contact Number">
        </div>
        <div class="textbox" data-mate-select="active">
            <select name="gender" id="sel">
                <option value="" selected>------</option>
                <option value="male">Male</option>
                <option value="female">Female</option>
                <option value="Transgender">Transgender</option>
            </select>
        </div>
        <input class="btn" type="submit" value="submit"/><input class="btn" type="reset" value="reset"/>
    </div>
</form>
<script>
    $('#cpass').onchange(function(){
       var pass=$('#pass').val();
       var pass2=$('#cpass').val();

       if(pass===pass2){
         alert('Password are same!');
       }else{
        alert('Passwords are not same!');
       }
    });
</script>
{% endblock %}