{% extends 'base.html' %}
{% load static %}

{% block content %}
<form method="POST">{% csrf_token %}
    <b>Name:</b><input type="text" name="name" value=""><br>
    <b>Email:</b><input type="text" name="Email" placeholder="example@gmail.com" value=""><br>
    <b>Password:</b><input type="password" id="pass" name="password" value=""><br>
    <b>Confirm:</b><input type="password" id="cpass" name="cpassword" value=""><br>
    <b>Contact:</b><input type="number" id="" name="contact" value=""><br>
    <b>Gender:</b><input type="text" id="" name="gender" value=""><br>
    <input type="submit" value="submit"></input><input type="reset" value="reset"></input>
</form>
<script>
    $('#cpass').onchange(function(){
       var pass=$('#pass').val();
       var pass2=$('#cpass').val();

       if(pass===pass2){
         alert('Password are same!');
       }else{
        alert('Passwords are not same!');
       }
    });
</script>
{% endblock %}